@model asser_etude_cas.Models.Update.RegionUpdateDto

@{
}

<h1> Créer une nouvelle région</h1>
<form method="post" action="Update" class="mt-3">
    <div class="form-group form-row">
        <div class="col-6">
            <label for="nom" class="form-label">Nom de la région </label>
            <input type="text" class="form-control" asp-for="Nom">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sauvegarder</button>
</form>
