@model asser_etude_cas.Models.DepartementEntity

@{
    ViewData["Title"] = "Création d'une département";
}

<h1>Crétation d'un nouveau département</h1>

<h4>Département</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label">Nom du département</label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionId" class="control-label">Région</label>
                <select asp-for="RegionId" class ="form-control" asp-items="ViewBag.RegionId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary"><i class="fa fa-back"></i>Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
